.container-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-head h1 {
    font-size: 24px;
    color: red;
    font-weight: 600;
    letter-spacing: 0.9px;
}

.header-middle {
    display: flex;
    width: 631px;
    justify-content: space-between;
}

.header-middle-text {
    font-size: 24px;
    color: white;
}

.header-right {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.balance-wrapper {
    display: flex;
    align-items: center;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    background-color: #590c1c;
    cursor: pointer;
}

.balance-text {
    margin: 0 auto;
    font-size: 31px;
    color: #fff;
}

.account-wrapper {
    display: flex;
    align-items: center;

    width: 182px;
    height: 61px;
    padding: 21px 17px;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
    border: none;
    text-decoration: none;
    background-color: #590c1c;
    box-shadow: 0 0 5px #590c1c;
    cursor: pointer;
}

.account-wrapper-button {
    font-size: 18px;

    color: #fff;
}