body {
    font-family: "Fira Code", monospace;
    background-color: #1E1E1E;
    background-image: url('./assets/Bg1.png'), url('./assets/Bg2.png');
    background-size: cover, contain;
    background-position: center, center;
    background-repeat: no-repeat;
}