@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #171718;
}

main,
footer {
    font-family: 'DM Sans', Arial, sans-serif;
}

.logo-link {
    text-decoration: none;
}

.logo {
    margin-bottom: 10px;
    font-size: 24px;
    color: red;
    font-weight: 600;
    letter-spacing: 0.9px;
}

.main-container {
    margin-top: 60px;
    margin-bottom: 60px;
    background-image: url('./img/Abstract.png'), url('./components/Nav/bg.png');
    background-repeat: no-repeat;
    background-position: 227px -97px, 102px -24px;
}

.main__content {
    display: flex;
    gap: 105px;
    align-items: center;
    justify-content: center;
}

/* Основной контейнер */
.home-container {
    display: flex;
    position: relative;
    transition: margin-left 0.3s ease;
}

.home-container.chat-open {
    margin-left: -300px;
}

/* Кнопка открытия чата */
.chat-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    background: radial-gradient(223% 105.53% at 6.05% 199.17%, rgba(255, 255, 255, 0.14) 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(31.68% 130.91% at 100% 0%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(43.14% 139.47% at 0% 136.21%, rgba(227, 235, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(170deg, rgb(64, 22, 160) 7.99%, rgb(63, 89, 228) 93.36%);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1000;
    transition: 0.4s ease-in-out;
}

.chat-toggle:hover {
    box-shadow: rgba(182, 202, 255, 0.24) 0px 8px 55px 0px;
    transition: 0.4s ease-in-out;
    color: rgb(255, 254, 250);
}

/* Контейнер чата */
.chat-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    background-color: #f4f4f4;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 999;
}

.home-container.chat-open .chat-container {
    transform: translateX(0);
}

/* Шапка чата */
.chat-header {
    background-color: #5C62EC;
    color: #fff;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

/* Контент чата */
.chat-content {
    padding: 20px;
    overflow-y: auto;
    height: calc(100vh - 60px);
}


.main__content p {
    width: 458px;
    height: 127px;
    line-height: 1.15;

    font-size: 24px;
    font-weight: 500;
    color: #fff;
    font-family: "Manrope", sans-serif;
    user-select: none;
}

@keyframes circular-motion {
    0% {
        transform: rotate(0deg) translateX(20px) rotate(0deg);
    }

    25% {
        transform: rotate(90deg) translateX(20px) rotate(-90deg);
    }

    50% {
        transform: rotate(180deg) translateX(20px) rotate(-180deg);
    }

    75% {
        transform: rotate(270deg) translateX(20px) rotate(-270deg);
    }

    100% {
        transform: rotate(360deg) translateX(20px) rotate(-360deg);
    }
}

.main__content img {
    animation: circular-motion 6s linear infinite;
    display: block;
    transform-origin: center;
    user-select: none;
}

/*  */
.game-container {
    height: 100%;
    background: #fff;
}

.game-content {
    width: 1400px;
    margin: 0 auto;
    padding: 75px 0;
}

.game__header {
    margin-bottom: 82px;
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    color: #5C62EC;
}

.slots {
    display: flex;
    gap: 45px;
    justify-content: center;
}

.slot {
    width: 562px;
    height: 525px;
    background-color: #fff;
    box-shadow: 0px 5px 35px rgba(0, 0, 0, .25);
    border-radius: 10px;
}

.slot p {
    margin-top: 7px;
    margin-left: 30px;
    font-size: 36px;
    font-weight: 700;
    color: #000;
}

.slot img {
    width: 562px;
    margin-bottom: 22px;
    border-radius: 10px;
}

/* Слот ракетка */

.rocket__container {
    width: 1920px;
    height: 900px;
    background-color: #151028;
}

.rocket__content {
    display: flex;
    gap: 19px;
    padding: 10px 18px;
}

.rocket__left {
    width: 299px;
}

.all__game {
    width: 150px;
    height: 34px;
    padding: 8px 64px;

    border-radius: 8px;

    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #fff;

    font-family: "Manrope", sans-serif;
    background: #261c4a;
}

.my__game {
    padding: 8px 62px 8px 62px;
    width: 149px;
    height: 34px;

    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    text-align: center;

    color: #948ac5;

    font-family: "Manrope", sans-serif;
    background: #110d21;
}

.history__game {
    display: flex;
}

.history__betting {
    width: 299px;
    height: 795px;

    background: #151028;
}

.betting-top {
    margin-bottom: 15px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.bettint-top-left p {
    font-family: "Manrope", sans-serif;
}

.total-bets {
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    color: rgba(223, 229, 242, 0.5);
}

.total-count {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
}

.last-round {
    width: 124px;
    height: 32px;
    border-radius: 8px;
    padding: 7px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    color: #fff;
    font-family: "Manrope", sans-serif;

    background-color: #231d47;
}

.history__item {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 17px;
    border-radius: 11px;
    padding: 2px 4px 2px 3px;
    width: 299px;
    height: 32px;
    border: 1px solid rgba(148, 78, 245, 0.5);
    background-color: rgba(148, 78, 245, 0.25);
}

.mult-btn {
    display: flex;
    justify-content: center;
    border-radius: 7px;
    padding: 6px 13px 7px 13px;
    width: 58px;
    height: 26px;
    background: #3e5bc2;
}

.rocket__center {
    width: 1295px;
}

.rocket__center-top {
    display: flex;
    justify-content: space-between;
}

.ratio {
    width: 1252px;
    display: flex;
    gap: 6px;
}

.ratio__item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    padding: 16px 0;
    width: 58px;
    height: 26px;
    background: #3e5bc2;

    color: #fff;

}

/* Градиент для последнего элемента */
.ratio__item:nth-last-child(1) {
    background: linear-gradient(to right, #3e5bc2, rgba(240, 240, 240, 0));
}

.timer__img {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #151028;
    border-radius: 8px;
    padding: 8px 11px 9px 11px;
    width: 30px;
    height: 30px;
    max-width: 30px;
    min-height: 30px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.15);
    background: #231d47;
}

.rocket__center-middle {
    margin: 12px 0;
    height: 619px;
    background-image: url('./img/cloudsBG.png'), url('./img/starsBG.png');
    background-repeat: no-repeat;
    background-position: left bottom, top left;
}

.rocket__center-middle--text {
    position: absolute;
    top: 50%;
    left: 40%;
    font-weight: 900;
    font-size: 70px;
    line-height: 94%;
    color: #944ef5;
    font-family: "Manrope", sans-serif;
}

.rocket__center-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rocket__center-bottom-btn {
    padding: 8px 10px 13px 10px;
    width: 507px;
    height: 142px;
}

.bottom__btn-top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    gap: 42px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.15);
    background: linear-gradient(90deg, #1f183d 0%, #261f4d 100%);
    border-radius: 14px;
    margin-bottom: -19px;
    z-index: 2;
    padding-bottom: 20px;
}

.bottom__btn-bottom {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 10px 13px 10px;
    height: 95px;
    box-shadow: 0 -4px 24px 0 rgba(0, 0, 0, 0.15);
    background: linear-gradient(90deg, #241d47 0%, #2b2357 100%);
    border-radius: 14px;
    position: relative;
    z-index: 1;
}

.bottom__btn-bottom--left {
    width: 193px;
    height: 72px;
    background: #1c1537;
    border-radius: 10px;
}

.bottom__btn-bottom--right button {
    box-shadow: inset 0 -8px 8px 0 rgba(148, 78, 245, 0.6),
        inset 0 -2px 4px 0 #944ef5,
        0 10px 20px 0 rgba(92, 36, 252, 0.1),
        0 10px 20px 0 rgba(25, 201, 245, 0.1);
    background: linear-gradient(254deg, #944ef5 0%, #5c24fc 100%);
    border-radius: 12px;
    padding: 23px 48px;
    width: clamp(200px, 20vw, 264px);
    height: clamp(50px, 10vw, 66px);
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.6s ease;
    border: none;
}

.bottom__btn-bottom--right button:hover {
    box-shadow: inset 0 -8px 8px 0 rgba(148, 78, 245, 0.8),
        inset 0 -2px 4px 0 #944ef5,
        0 12px 24px 0 rgba(92, 36, 252, 0.2),
        0 12px 24px 0 rgba(25, 201, 245, 0.2);
    transform: scale(1.02);
    cursor: pointer;
}

.btn-top--text {
    display: flex;
    gap: 12px;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    color: #fff;
    font-family: "Manrope", sans-serif;
}

.btn-ratio input {
    border-radius: 8px;
    padding: 8px 8px 8px 21px;
    width: 79px;
    height: 30px;
    background-color: #1c1537;
    border: none;
}

.bottom__btn-bottom--left {
    padding: 5px 0 0 5px;
}

.bottom__btn-bottom--left .top {
    display: flex;

    gap: 26px;
    padding-bottom: 10px;
}

.bottom__btn-bottom--left .top img {
    width: 10px;
    height: 13px;
}

.bottom__btn-bottom--left .top p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #fff;
    font-family: "Manrope", sans-serif;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}


.bottom {
    display: flex;
    gap: 8px;
}

.wrapper__img {
    border-radius: 10px;
    padding: 6px 7px 7px 7px;
    width: 26px;
    height: 26px;
    background: #231d47;

    user-select: none;
    cursor: pointer;
}

.wrapper__text {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;

    border-radius: 10px;
    padding: 0 10px;

    height: 25px;
    background: #231d47;

    font-weight: 700;
    font-size: 10px;
    color: #948ac5;
    font-family: "Manrope", sans-serif;

    white-space: nowrap;
    user-select: none;
    cursor: pointer;
}

.account__img {
    width: 150px;
    height: 150px;
}

.account {
    margin: 0 auto;
    width: 870px;

    color: #fff;
    font-family: "DM Sans", serif;
}

.account__data {
    margin: 30px 0 30px 0;
    display: flex;
    align-items: center;
    height: 100%;
    gap: 30px;
}

.account__data--text {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    gap: 10px;
}

.history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    font-family: "Manrope", sans-serif;
}

.button__account-balance {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
    width: 142px;
    height: 48px;
    background-color: #171718;
    border: 1px solid #C0C0C0;
    border-radius: 7px;

    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;

    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.history h2 {
    font-size: 24px;
    padding-bottom: 25px;
}

.history__table,
.history__game {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.history__table div {
    height: 40px;
    border-radius: 2px;
    padding: 11px 12px 10px 12px;
    background: rgba(0, 0, 0, 0.2);
}

.history__game p {
    height: 40px;
    border-radius: 2px;
    padding: 11px 12px 10px 12px;
    background: rgba(96, 109, 142, 0.2);
}

.history__table .game {
    width: 161px;
}

.game__id {
    width: 236px;
}

.bet {
    width: 144px;
}

.coefficient {
    width: 119px;
}

.amount {
    width: 144px;
}

.history__game .game {
    width: 161px;
}

.btn-ratio__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #fff;
    font-family: "Manrope", sans-serif;
}

.switches,
.transaction-switches {
    display: flex;
    gap: 15px;
    justify-content: center;
    font-family: "Manrope", sans-serif;
}

.switches {
    margin-bottom: 30px;
}

.transaction-switches {
    margin-top: 30px;
    margin-bottom: 30px;
}

.data {
    width: 161px;
}

.method {
    width: 236px;
}

.amount {
    width: 144px;
}







.avatar-container {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.account__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: opacity 0.3s ease;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 14px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 0 0 50% 50%;
}

.overlay label {
    cursor: pointer;
    z-index: 1;
}

.overlay input {
    display: none;
}

.avatar-container:hover .overlay {
    opacity: 1;
}

.avatar-container:hover .account__img {
    opacity: 0.8;
}